.custom-body {
	background: lightblue;
	font-family: Arial, sans-serif;
}

.bg-pink {
	background-color: pink !important;
}

.logo {
	width: 100px;
	height: auto;
}

.btn-success {
	background-color: #4CAF50 !important;
	border: none;
	transition: background-color 0.3s;
}

.btn-success:hover {
	background-color: #45a049 !important;
}

.form-control:focus {
	border-color: #28a745;
	box-shadow: none;
}

.error {
	background-color: #ff8080;
	color: red;
	font-size: 14px;
}

.success-message {
	background-color: #008000;
	color: #ffffff;
	border: 1px solid #c3e6cb;
}